* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: rgb(0 100 0 / 0.1) !important; */
  /* outline: 3px solid limegreen !important; */
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  width: 100px;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.hamburger {
/*  */
}

.main {
  height: 85vh;
}

.mainPanel {
  /* border: 1px solid red; */
  position: relative;
  height: 100%;
  padding: 3rem 0;
}

.pfpImg {
  position: absolute;
  bottom: 0;
  height: 60%;
  animation-name: fade;
  animation-duration: 1s;
}

.centerContent {
  display: grid;
  place-items: center;
  animation-name: fade;
  animation-duration: 1s;
}

.socialIcons {
  display: none;
}

.mobile {
  position: fixed;
  color: white;
  background-color: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  padding: 2rem 2rem;
  text-align: center;
}

.mobile a {
  color: white;
  text-decoration: none;
}

.mobile img {
  height: 60px;
  width: 60px;
  padding: 0.4rem;
}

.mobile button {
  background: none;
	color: inherit;
	border: none;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.closeIcon {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (max-width: 375px) {
  .mobileBody {
    font-weight: 900;
    font-size: 2rem;
    padding: 3rem;
  }
}

.mobileBody h3 {
  z-index: -10;
}

.mobileBody a {
  color: white;
  text-decoration: none;
}

.mobileBody img {
  width: 60px;
  height: 60px;
  padding: 0.25rem;
}

.red {
  border: 3px solid red;
}

.purple {
  display: none;
}

.blue {
  display: none;
}

.green {
  display: none;
}

/* HEADLINE */
.title {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-height: 900px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

/* PANEL STYLES */
@media screen and (min-width: 1100px) {

  .hamburger, .mobile {
    display: none;
  }

  .socialIcons {
    display: block;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .mainPanel {
    z-index: 10;
    transition: all 0.5s ease;
  }

  .hidePanel {
    display: none;
  }

  .active {
    width: 88% !important;
  }

  .panel {
    cursor: pointer;
    position: relative;
    display:flex;
    flex-direction:column;
    width:4%;
    transition: all 0.5s ease;
    height: 85vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

  .panel::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }

  .panelTitle {
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    padding: 3rem 3rem;
    color: white;
  }

  .purple {
    background-color: #6202EE;
    z-index:75;
  }

  .blue {
    background-color: #4739EB;
    z-index: 50;
  }

  .green {
    background-color: #01FFA3;
    z-index: 25;
  }

  .roadmapGrid {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    height: 100%;
    grid-template-areas:
    "title title title title"
    "dao dao dao dao"
    "floor floor societyDraw societyDraw "
    "drawPackage drawPackage mysteryPackage brunchBets";
    animation-name: fade;
    animation-duration: 2s;
  }

  .roadmapGrid img {
    width: 100px;
  }

  .roadmapGrid p {
    font-weight: 300;
  }

  .roadmapTitle {
    grid-area: title;
  }

  .roadmapTitle h3 {
    color: #291381;
    font-size: 3rem;
    padding: 2rem 2rem;
  }

  .dao {
    grid-area: dao;
  }

  .dao img {
    width: 150px;
  }

  .societyDraw {
    grid-area: societyDraw;
  }

  .societyDraw img {
    width: 125px;
  }

  .drawPackage {
    grid-area: drawPackage;
  }

  .drawPackage img {
    width: 150px;
  }

  .drawPackage h5 {
    color: #291381;
    font-size: 1rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }

  .mysteryPackage {
    grid-area: mysteryPackage;
  }

  .mysteryPackage img {
    width: 125px;
  }

  .brunchBets {
    grid-area: brunchBets;
  }

  .brunchBets img {
    width: 125px;
  }

  .floor {
    grid-area: floor;
  }

  .floor img{
    width: 200px;
  }

  .faqGrid {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    grid-template-areas:
    "title title"
    "accordion whitePaper"
    "accordion mailingList"
    "accordion pfpGirl";
    animation-name: fade;
    animation-duration: 5s;
  }

  .faqTitle {
    grid-area: title;
  }

  .faqTitle h3 {
    font-size: 3rem;
    padding: 4rem 4rem;
  }

  .whitepaper {
    display: flex;
    grid-area: whitePaper;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .whitepaper a {
    color: white;
    text-decoration: none;
  }

  .whitepaper a:hover, .mailingList h5:hover {
    color: red;
  }

  .whitepaper h5{
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .mailingList {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: mailingList;
  }

  .mailingList h5 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem;
    text-align: center;
  }

  .pfpGirl {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    grid-area: pfpGirl;
  }

  .pfpGirl img {
    width: 100%;
    transform: scale(-1, 1);
  }

  .accordion {
    padding: 3rem;
    width: 500px;
    margin: 0 auto;
    grid-area: accordion;
  }

  .item {
    margin-bottom: 5px;
    padding: 10px 20px;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question h5 {
    font-size: 1.5rem;
  }

  .answer p {
    padding: 0.5rem 0;
    font-weight: 200;
  }

  .teamGrid {
    color: #291381;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "title title"
    "khalil sommo"
    "allan juan";
    animation-name: fade;
    animation-duration: 3s;
  }

  .khalil {
    grid-area: khalil;
  }

  .sommo {
    grid-area: sommo;
  }

  .allan {
    grid-area: allan;
  }

  .juan {
    grid-area: juan;
  }

  .teamPfp {
    width: 35%;
    border-radius: 100%;
  }

  .profile {
    display: grid;
    place-items: center;
  }

  .profile h5 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .profile h6 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .profileSocial {
    width: 25px;
  }

  .teamTitle {
    grid-area: title;
  }

  .teamTitle h3 {
    font-size: 3rem;
    padding: 2rem 2rem;
  }
}

/* @media screen and (min-width: 1400px) {
  .faqGrid {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    grid-template-areas:
    "title title"
    "accordion whitePaper"
    "accordion pfpGirl";
    animation-name: fade;
    animation-duration: 3s;
  }
} */

/* RESIZE IMAGE FOR DIFFERENT SCREEN SIZES */
@media screen and (min-width: 360px) {
  .pfpImg {
    height: 65%;
  }
}

@media screen and (min-width: 510px) {
  .pfpImg {
    height: 70%;
  }
}

@media screen and (min-width: 665px) {
  .pfpImg {
    height: 80%;
  }
}


/* ACCENTS */

.accent1 {
  position:absolute;
  filter: blur(20px);
  border-radius: 100%;
  background-color: #6202EE;
  width: 25rem;
  height: 20rem;
  left: -7rem;
  top: -12rem;
  z-index: -100;
}

.accent2 {
  position:absolute;
  filter: blur(35px);
  border-radius: 100%;
  background-color: #4739EB;
  width: 10rem;
  height: 10rem;
  left: 0;
  top: 2.5rem;
  z-index: -50;
}

.accent3 {
  position:absolute;
  filter: blur(25px);
  border-radius: 100%;
  background-color: #01FFA3;
  width: 10rem;
  height: 10rem;
  top: 6rem;
  left: -3rem;
  z-index: -75;
}

@media screen and (min-width: 600px) {
  .accent1 {
    filter: blur(40px);
    width: 32rem;
    height: 26rem;
    top: -16rem;
  }

  .accent2 {
    filter: blur(40px);
    width: 16rem;
    height: 16rem;
    left: -3rem;
    top: 1rem;
  }

  .accent3 {
    width: 12rem;
    height: 12rem;
    top: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .accent1 {
    /* filter: blur(40px);
    width: 32rem;
    height: 26rem;
    top: -16rem; */
    width: 40rem;
    top: -17rem;
    left: -10rem;
  }

  .accent2 {
    /* filter: blur(40px);
    width: 16rem;
    height: 16rem;
    left: -3rem;
    top: 1rem; */
    filter: blur(50px);
    width: 18rem;
    height: 18rem;
    top: -1rem;
    left: -3rem;
  }

  .accent3 {
    /* width: 12rem;
    height: 12rem;
    top: 10rem; */
    width: 14rem;
    height: 14rem;
    top: 10rem;
  }
}

@media screen and (min-width: 1500px) {
  .accent1 {
    /* width: 40rem;
    top: -17rem;
    left: -10rem; */
    width: 50rem;
    height: 30rem;
  }

  .accent2 {
    /* filter: blur(50px);
    width: 18rem;
    height: 18rem;
    top: -1rem;
    left: -3rem; */
    width: 30rem;
    height: 20rem;
    top: 3rem;
    left: -14rem;
  }

  .accent3 {
    /* width: 14rem;
    height: 14rem;
    top: 10rem; */
    filter: blur(45px);
    width: 14rem;
    height: 14rem;
    left: -6rem;
    top: 18rem;
  }
}